html, body{
    height: 100vh;
    padding: 0;
    margin: 0;
    color: #604D25;
}

header{
    height: 40px;
}

footer{
    height: 40px;
    background: #D6C7BA;
}

header h1{
    padding: 0;
    margin: 0;
}

main{
    height: calc(100% - 80px);
    min-height: 683px;
}

h5{
   padding: 10px 0 0 0;
}

.parent{
    display: flex;
    padding: 0;
    margin: 0;
   /*background-image: url('https://images.unsplash.com/photo-1556557753-4d7eb13e06c4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=923&q=80');*/
}

#list {
    flex: 3;
    background: #ECE8DF;
    position: relative;
}

#btnCreateTask{
    position: absolute;
    top: 3px;
    right: 30px;
}

#form{
    flex: 2;
    background: #F7F3EE;
    padding: 0 20px 0 20px;
    overflow: auto;
}

.field{
    margin-top: 15px;
}

.iImportant{
    cursor: pointer;
    font-size: 30px;
    cursor: pointer;
}

.iImportant.fa-solid{
    color: orangered;
}

/*Your Tasks*/

.task{
    display: flex;
    align-items:center;
    margin-bottom: 10px;
    margin-top: 15px;
    padding: 10px;
}

.task:hover{
    border-radius: 10px;
    background-color: #F7F3EE;
}

.task .color{
    flex: 1;
}

.task .info{
    flex: 3;
    margin-left: 30px;
}

.task .category{
    flex: 2;
}

.task .details{
    flex: 1;
}

.bold-text{
    font-weight: 800;
}